<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">JHipster creation</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
        <link rel="stylesheet" href="@{|${baseUrl}/style.css">
         
       
    </head>
<body>
 
  
    <table width='900px' style='border-collapse: collapse;'>

      <tr style='border-bottom:solid 1px white'>
        <td colspan="3" style="font-size: 1.3rem; background-color:#eee;text-align:center;color:green">
        
          <h5 ><strong>&#10004;</strong> Votre commande a bien été enregistrée</h5> 
        
        </td>
      </tr>
    
       <tr>
        <td colspan="3"style="font-size: 1.3rem;background-color:#eee;text-align:center;border:none;color:grey;border-bottom:dotted 6px white;">

          <h5 > Date de livraison :  <span th:text="#{commande.datelivraison.text(${commande.dateLivraison})}">20-7-2020</span></h5>
        

        </td>
      </tr>
    
     <tr  style='color:red;font-size: 1.3rem;border-bottom: dotted 1px white;'>
        <td colspan="3" style=" background-color: tomato; color:white;text-align:center;border:none">
          <h5 th:text="#{commande.total.text(${commande.totTTC})}" ></h5> </td>
      </tr>
    <tr>
        <td colspan="3" style="padding-left : 1.5rem;color:grey;padding-top:1.5rem;font-size:1.3rem;height: 10px;">
          <span th:text="#{commande.greetings.text(${user.lastName}, ${user.firstName})}">
          Cher(ère) 
        </span>
        </td>
      </tr>
    <tr>
        <td colspan="3" style ='font-size: 1.3rem;color:grey;padding:1.5rem'>
    
    Vous avez passé une commande sur notre site <strong>EL BAZAR </strong> et nous vous en remerçions. Vous recevrez un appel de nos agents pour confirmer votre commande . Nous vous remercions pour votre confiance.
    Pour toute question complémentaire relative à votre commande, n’hésitez pas à nous contacter  par e-mail info@elbazarshop.com</td>
      </tr>
    
    <tr>
      <td style="padding:1rem ;text-align:center;color:rgb(124, 114, 114);font-weight: bold;background-color: #EEEEEE">commande </td>
      <td style="padding:1rem ;text-align:center;color:rgb(124, 114, 114);font-weight: bold;background-color: #EEEEEE;">mode de paiement </td>
    <td style="padding:1rem ;text-align:center;color:rgb(124, 114, 114);font-weight: bold;background-color: #EEEEEE;">frais de livraision</td>
    
    </tr>
    <tr>
      <td style="padding:1rem ;text-align:center;color:rgb(124, 114, 114);font-size:1.3rem"><span th:text="#{commande.reference.text(${commande.reference})}">CMDXXXXXXXX</span></td>
      <td style="padding:1rem ;text-align:center;color:rgb(124, 114, 114);font-size:1.3rem"><span th:text="#{commande.modepaiement.text(${commande.reglement})}">par </span></td>
    <td style="padding:1rem ;text-align:center;color:rgb(124, 114, 114);font-size:1.3rem"><span th:text="#{commande.fraislivraison.text(${commande.fraisLivraison})}" class="prix">DT</span></td>
   
    </tr>
    <tr>
        <td colspan="3" style ='padding-top:1rem;padding-bottom: 1rem;background-color :tomato;text-align: center;color:white;font-size: 1.3rem;margin-bottom:1.5rem;font-weight: bold;'>montant à payer :  <span th:text="#{commande.montantTotal.text(${commande.totTTC})}" class="prix">DT</span></td>
      </tr>
    <tr style ="padding-top:1rem;padding-bottom: 1rem;border-collapse: collapse;height: 1rem;">
        <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
   
    <tr>
        <td colspan="3" style ='background-color:#eee;text-align: center;padding-top:1rem;padding-bottom: 1rem;'><h3 >Sommaire de votre commande </h3> </td>
      </tr>
   
      <tr style='background-color: #eee;'>
        <td  style='font-size: 1.3rem;padding:1rem'><h6>Nom produit</h6></td>
        <td  style='font-size: 1.3rem;padding:1rem'><h6>quantité</h6></td>
        <td  style='font-size: 1.3rem;padding:1rem'><h6>Prix</h6></td>
       
    </tr>    
      <tr th:each="commandeligne: ${commandeLignes}" style="border-bottom: solid 1px #999;">
        <td  style='font-size: 1.3rem;padding:1rem' data-column="produit" th:text="#{commandeLigne.produit.text(${commandeligne.refProduitNom})}"/></td>
        <td  style='font-size: 1.3rem;padding:1rem'  data-column="Nombre d'articles" th:text="#{commandeLigne.nbarticle.text(${commandeligne.quantite})}" /> </td>
        <td   style='font-size: 1.3rem;padding:1rem' data-column="prix" th:text="#{commandeLigne.prix.text(${commandeligne.prixTTC})}" /></td> 
    </tr>    
    </table>
   
        


</body>
</html>